*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
a{
    color:white;
    text-decoration: none;
}
header{
    width:100%;
    height:100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: relative;
}
header:before{
    content:"";
    width:50rem;
    height:50rem;
    left:0;
    bottom:0;
    position: absolute;
    background-image: url('images/bg_2.jpg');
    background-size: 100% 100%;
    border-radius: 80%;
}
nav{
    width:100%;
    height:15vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
}
.logo a{
    font-size: 1.6rem;
    text-transform:uppercase;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding:0rem 1.5rem;
    text-transform: uppercase;
}
.home, ul li:hover{
    border-top: 0.3rem solid blueviolet;
    border-bottom:  0.3rem solid blueviolet;
}
.contact_btn{
    background-color: blueviolet;
    padding:1.2rem 2.6rem;
    font-size:1.5rem;
    font-weight: 500;
    border: 0.1rem solid transparent;
    border-radius: 5%;
    text-transform: capitalize;
}
.contact_btn:hover{
    background:linear-gradient(to bottom, #C850C0 0%, #4158D0 100%);
}
/**********center content***********/
.center_content{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.center_content h1{
    color:#ffff;
    font-size: 7rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1.1rem;
    z-index: 1;
}
.center_content h2{
    color:#ffff;
    font-size: 3rem;
    font-weight: 400;
    z-index: 1;
}
.center_content h2:before{
    content:"";
    width:5rem;
    height:auto;
    border:0.2rem solid #ffff;
    position: absolute;
    left:0.1rem;
    bottom: 0;
    margin-bottom: 1rem;
}
.center_content h2::after{
    content:"";
    width:5rem;
    height:auto;
    border:0.2rem solid #ffff;
    position: absolute;
    right:0.1rem;
    bottom: 0;
    margin-bottom: 1rem;
}
/*****************social sites ************/

.social_sites{
    width:10rem;
    height: auto;
    position: absolute;
    right:0;
    top:40%;
}
.fa-icons{
    width:4rem;
    height:4rem;
    border-radius: 50%;
    background:linear-gradient(to bottom, #C850C0 0%, #4158D0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-icons:nth-child(even){
    margin:2rem 0;
}
.fa-icons:hover{
    background:linear-gradient(to bottom, #4158D0 0%, #C850C0 100%);
}
.grid_sec{
    width:20rem;
    height:10rem;
    position: absolute;
    left:50%;
    bottom:0;
    overflow:hidden;
}

/****************header responsive code***************/

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}


@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
